// Colors

$text-color: #f9f9f9;
$text-color-grey: rgb(208 208 208);

// Background
$bg-grey: #101112;
$bg-white: #ffffff;

// Card
$card-bg-grey: rgb(45 46 47);
$card-bg-white: #DCD0FF;

// Button
$button-light: rgb(145 78 238);
$button-dark: rgb(145 78 238);