$text-color: rgb(249 249 249);
$text-color-grey: rgb(208 208 208);
$bg-color: rgb(16, 17, 18);
$card-bg-color: rgb(45 46 47);

$button-color: rgb(145 78 238);

body {
    .dark-theme {
        color: $text-color;
        background-color: $bg-color;

        button {
            color: $text-color;
            background-color: $button-color;
        }

        .profile {
            background-color: $card-bg-color;
        }
    }
}