$bg-color: rgb(16, 17, 18);

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import './light.scss';
@import './dark.scss';

:root {
  background-color: $bg-color;
  font-family: "Outfit", "Outfit Placeholder", sans-serif;
}

body {
  margin: 0;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "Outfit", "Outfit Placeholder", sans-serif;

  button {
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px 15px;
  }

  .icon {
    img, svg {
      height: 20px;
      width: 20px;
    }
  }
}